<div *ngIf="user">

    <h2>Perfil do usuário</h2>
    <p>Seu perfil é gerenciado pelo Google.</p>

    <img src="{{user.photoURL}}" alt="{{user.displayName}}">

    <h3>{{user.displayName}}</h3>
    <ul>
        <li><strong>E-mail:</strong> {{user.email}}</li>
        <li><strong>Cadastro:</strong> {{user.metadata.creationTime | date: 'dd/MM/yyyy HH:mm'}}</li>
        <li><strong>Último login:</strong> {{user.metadata.lastSignInTime | date: 'dd/MM/yyyy HH:mm'}}</li>
    </ul>

    <p>Clique no botão abaixo para ver/editar seu perfil.</p>
    <button (click)="toProfile()"><i class="fa-brands fa-google fa-fw"></i> Perfil no Google</button>

    <p>Clique no botão abaixo para sair do aplicativo neste dispositivo.
        Você precisará entrar novamente para ter acesso aos recursos restritos do site.</p>
    <button (click)="logout()"><i class="fa-solid fa-right-from-bracket fa-fw"></i> Sair / Logout</button>

</div>